@import "tailwindcss";

@theme {
  --color-header: #FFFFFF;
  --color-lines: #D9D9D9;
  --color-action-primary: #DEFF35;
  --color-action-hover: #B4CF2D;
  --color-text-primary: #000000;
  --color-text-secondary: #D9D9D9;
  --color-secondary-background: #F8F8FF;
}